
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
	background-color: #fff;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.table-fixed th, td {
	padding: 0.5rem !important;
}
